__pycache__
*.in
*~
/aoc2022.cabal
*.o
*.hi
*.yaml.lock
*.exe
/.stack-work
aoc[0-9]
aoc[0-9][a-z]
aoc[0-9][0-9]
aoc[0-9][0-9][a-z]
.DS_Store
/.vscode
/venv
/session.txt
/*.leaderboard.json
/RefreshLeaderboards.ps1
